*
{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.logo
{
  height: 70px;
  display:flex;
  padding: 22px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.Hero img{
  border-radius: 8px;
  width:72px;
  height:96px; 
}

.Hero div{   
  margin-right: 8px;
}
.image_1
{
  position:absolute;
  top:144px;
  left:77px;
}
 .image_2 {
  position:absolute;
  top: 103px;
  left: 157px;
}
.image_2 img{
  height:64px;
  object-fit:cover;
  object-position: 10% 15%;
}
.image_3{
  position:absolute;
  top: 175px;
  left: 157px;
} 
.image_4
{
  position:absolute;
  top: 126px;
  left: 238px;
}

.image_5{
  position:absolute;
  top: 231px;
  left: 238px;
}
.image_6{
  position:absolute;
  top: 96px;
  left: 319px;
}
.image_7{
  position:absolute;
  top: 201px;
  left: 319px;
}
.image_8{
  position:absolute;
  top: 114px;
  left: 400px;
}
.image_9{
  position:absolute;
  top: 218px;
  left: 400px;
}
.heading
{
  position:absolute;
  top: 360px;
  left: 36px; 
  font-weight: 600;
  font-size: 36px;
}
.paragraph
{
  position:absolute;
  top: 416px;
  left: 36px; 
  font-size: 16px;
  font-weight: 300;
}

section {
  padding: 20px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

/* ADD */
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

/* ADD */
.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}